<!DOCTYPE html>
<html>
    <head>
      <title>Help Page</title>
     </head>
     <body>
         <p>Hello! welcome to the help page.</p>
     </body>
     <footer>
         <p>Copy right :{{ CurrentYear }}</p>
     </footer>
</html>
